# ==========================================
# ROS2 빌드 / Log / Install 디렉터리 제외
# ==========================================
build/
install/
log/
logs/

# 빌드 및 시스템 임시 파일
*.log
*.stamp
*.pyc
__pycache__/

# ==========================================
# USD, 3D Assets, Heavy Media (코드 외 Asset 제외)
# ==========================================
*.usd
*.USD
*.usda
*.usdc
*.usd.backup
*.zip
*.stl
*.dae
*.mdl

# 테스트 실행 시 생성되는 결과 이미지/동영상
*.png
*.jpg

# ==========================================
# OS 및 스크립트 임시 파일
# ==========================================
*.dsv
*.ps1