# ==========================================
# Build, Log, Install 디렉터리 및 산출물 무시
# ==========================================
build/
install/
log/
logs/

# 빌드 관련 확장자 및 임시 파일
*.log
*.stamp

# ==========================================
# USD 및 Omniverse 관련 파일 무시
# ==========================================
*.usd
*.USD
*.usda
*.usdc
*.usd.backup
*.zip

# ==========================================
# Python 바이트코드 및 캐시 디렉터리 무시
# ==========================================
*.pyc
__pycache__/

# ==========================================
# 기타 임시 및 설정 파일 무시
# ==========================================
*.txt
*.dsv
*.ps1
*.json

*.png
*.stl
*.jpg
*.mdl
*.dae